* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
  color: white;
  padding-left: 20px;
}

.navbar-buttons {
  display: flex;
}

.nav-btn {
  font-size: 15px;
  color: #ffffff;
  padding: 20px 20px;
  background-color: transparent;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-btn:hover {
  color: rgb(255, 191, 0);
}
